@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 20;
  padding: 10;
}

body {
  font-family: 'Poppins', sans-serif;
}



.container {
  align-content: center;
  overflow: auto;
  background-size: cover;
}



.WelcomeBox {
  background: gray;
  color: white;
  outline: black;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid steelblue;
}

.Welcome-wrapper {
  position: relative;
}
#video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; 

}

.donate {
  position: relative;
  max-width: 600px;
  margin: auto 150px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 10px;


}

.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  color: white;
  background: darkblue;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}
.btn:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

.choices {
  display: inline-block;
  background: silver;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  font-family: inherit;
}

.choices:hover{
  background: darkblue;
}



.dormlist {
  display: inline-flex;
  background: mediumpurple;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  font-family: inherit;
  max-height: 100px;
  style: none;
}

.dormlist:hover{
  color: black;
  background-color: white;
  border: 2px solid black;

}


.Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkblue;
  color:white;
}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



footer {
  margin-top: 30px;
  text-align: center;
}
