@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Georgia', serif;
  margin: 0px;
  padding: 0px;
}



.container {
  overflow: auto;
}

.WelcomeBox {
  font-family: serif;
  color: darkblue;
    background-color: rgba(255, 255, 255, .5);
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid darkblue;
  width: auto;
  height: auto;
  font-size: 20px;
}

.Welcome-wrapper {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  z-index: -1;
  top: 0;
  position: fixed;
  background-color: black;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Game{
  background: url("https://keyt.b-cdn.net/2020/07/Cate-scaled.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 900px;
  padding: 25px;
}

.donate {
  position: relative;
  max-width: 600px;
  margin: auto 150px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 10px;
  color:white;
  background-color: lightblue;
}

.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke: 1.5px darkblue;
  width:auto;
}

.btn {
  display: inline-block;
  color: white;
  background: darkblue;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;

}
.btn:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

.choices {
  display: inline-block;
  background: silver;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  font-family: inherit;
  border: 1px solid darkblue;
}

.choices:hover{
  background: darkblue;
}



.dormlist {
  display: inline-flex;
  background: mediumpurple;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  font-family: inherit;
  max-height: 100px;
  style: none;
}

.dormlist:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}


.Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkblue;
  color:white;

}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.questionStyle{
  color: darkblue;
  background-color: white;
  width: 600px;
  box-sizing: border-box;
  border: 2px solid darkblue;
  border-radius: 10px;




}



footer {
  margin-top: 30px;
  text-align: center;
}
